<%- include('base/header') %>

<section class="content card m-4">
    <div class="error-page">
      <h2 class="headline text-warning">404</h2>

      <div class="error-content">
        <h3>Xatolik</h3>
        <p>
            <a href="/" class="btn btn-success"><i class="fas fa-sm fa-home"></i> Bosh sahifa</a>
        </p>
        <p>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="far fa-sm fa-caret-square-down"></i> Xatolik sabablarini ko'rish</button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body"><%= err %></div>
        </div>
      </div>
    </div>
  </section>

<%- include('base/footer') %>