<%- include('../base/header') %>

<section class="content">
    <div class="container-fluid card p-3">
        <h2>Mahsulotni o'chirish</h2>
        <form action="" method="POST">
            <p>Siz rostdan ham "<b><%= product.name %></b>" ni o'chirmoqchimisiz?</p>
            <a href="/product" class="btn btn-success"><i class="fas fa-angle-left"></i> Ortga</a>
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> O'chirish</button>
        </form>
    </div>
</section>

<%- include('../base/footer') %>