<%- include('../base/header') %>

<section class="content">
    <div class="container-fluid card p-3">
        <ul>
            <li><a href="/product/add_product">Mahsulot qo'shish</a></li>
            <li><a href="/product/all_product">Mahsulot ro'yhati</a></li>
        </ul>            
    </div>
</section>

<%- include('../base/footer') %>